.OrSignIn {
  margin-top: 22px;
  .headingText {
    text-align: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 32%;
      height: 1px;
      background-color: rgba(105, 105, 106, 0.7);
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &::after {
      content: '';
      position: absolute;
      width: 32%;
      height: 1px;
      background-color: rgba(105, 105, 107, 0.7);
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .buttonLoginFacebook {
    height: 46px;
    .kep-login-facebook {
      outline: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
      }
      border: none;
    }
  }
}
